@use "./../../../assets/styles/variables.scss";

.containerProducts{
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px 0;
}
.productCard{
    width: 350px;
    height: 90px;
    display: flex;
    border-radius: variables.$border-radius-small;
    background-color: variables.$productCardColor;
    overflow: hidden;
    font-size: small;
}
#imgProduct{
    height: 100%;
    width: 30%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    gap: 5px;
    background-color: #8ae058;
    img{
        height: 20px;
        margin-bottom: 5px;
        border-radius: variables.$border-radius-x-large;
        background-color: #8ae058;
        &:first-child{
            margin-left: 5px;
        }
    }
}
#center{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 5px;
    span{
        height: 10px;
       overflow: scroll;
       font-size: x-small;
    }
}
#center > h4,
h3,
#valuesContainer>div>p:nth-child(odd){
    font-weight: bold;
}
#right{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 5px 7px;
    span{
        font-weight: bold;
    }
}
button{
    border: unset;
    padding: 0;
    border-radius: variables.$border-radius-small;
    cursor: pointer;
}
#imgRemove, 
#imgEdit,
#imgWhatsApp{
    width: 24px;
}
#buttonAdd{
    width: 20px;
    align-self: center;
    text-align: center;
    font-size: xx-large;
    background-color: variables.$activeItem;
    color: black;
    text-decoration: none;
    padding: 5px 23px 10px 20px;
    border-radius: variables.$border-radius-small;
}
#deliveryDetailsContainer{
    margin: 10px 20px;
}
#infoDirection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$productCardColor;
    margin: 5px;
    padding: 5px;
    border-radius: variables.$border-radius-x-small;
}
#imgEdit{
    margin: 4px;
}
#valuesContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
    div > p {
        margin: 2px;
    }
    div:nth-child(2){
        text-align: end;
    }
}
#buttonsContainer{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#btnCopy,
#btnMessage{
    width: 350px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: larger;
    padding: 10px;
    margin: 0 0 5px;
    align-self: center;
    border-radius: variables.$border-radius-small;
}
#btnCopy{
    background-color: variables.$mainColor;
    color: variables.$fontBtnMessage;
}
#btnMessage{
    background-color: variables.$btnMessage;
    color: variables.$fontBtnMessage;
    &:disabled{
        background-color: variables.$btnMessage-disabled;
    }
}
dialog{
    background-color: variables.$productCardColor;
    padding: 30px 40px;
    border: 2px solid variables.$buttonCar;
    border-radius: variables.$border-radius-medium;
    box-shadow: 0 5px 5px 5px gray;
    p{
        font-size: large;
        text-align: center;
    }
    div{
        display: flex;
        gap: 5px 10px;
        justify-content: space-around;
        margin-top: 40px;
        button{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 120px;
            padding: 10px;
            &:first-of-type{
                background-color: #8ae058;
            }
            &:last-of-type{
                background-color: #e05863;
            }
            span:first-of-type{
                font-size: large;
                font-weight: bold;
            }
        }
    }
}
#emptyCartContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95%;
    margin: 20px;
    gap: 15px;
    background-color: variables.$productCardColor;
    border-radius: variables.$border-radius-large;
    h1{
        font-size: x-large;
        font-weight: bold;
    }
    button{
        padding: 20px 30px;
        background-color: variables.$buttonCar;
        color: variables.$fontBtnMessage;
        font-size: medium;
    }
}
#imgCart{
    font-size: 30vh;
    color: variables.$colorFontButtonCar;
}
@media screen and (min-width:950px) {
    #mainContainer{
        display: grid;
        grid-template-columns: 2fr 1fr;
        height: 100%;
        background-color: #f1f0d1b7;
    }
    .containerProducts{
        grid-column: 1;
        overflow-y: scroll;
        scroll-behavior: auto;
    }
    .containerProducts::-webkit-scrollbar {
        display: none;
    }
    .productCard{
        width: 450px;
    }
    #containerMidle{
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: variables.$titleColor;
    }
}