<div class="containerCart">
    <div class="element" *ngFor="let product of shoppingCartService.shoppingCart">
        <span>Producto: {{product.idProduct}}</span>
        <button (click)="deleteProduct(product.idProduct)">X</button>
        <app-product-counter 
            [initialAmount]="product.amount" 
            (newAmount)="shoppingCartService.changeAmount(product.idProduct, $event)">
        </app-product-counter>
        <span *ngIf="product.notes !== ''">{{product.notes}}</span>
    </div>
</div>
