<footer>
    <nav>
        <ul id="menu">
            <li class="item" [routerLink]="['/']" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">
                <span  class="material-icons icon">fastfood</span>
            </li>
            <li class="item" [routerLink]="['/search']" routerLinkActive="selected">
                <span class="material-icons icon">search</span>
            </li>
            <li class="item" [routerLink]="['/shoppingCart']" routerLinkActive="selected">
                <span class="material-icons icon">shopping_cart</span>
            </li>
            <li class="item" [routerLink]="['/profile']" routerLinkActive="selected">
                <span class="material-icons icon">person</span>
            </li>
        </ul>
    </nav>
</footer>