@use "./../../../assets/styles/variables.scss";

.body{
    margin: 20px;
}
#imgUser{
    width: 130px;
    aspect-ratio: 1;
}
.body, form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 16px 0;
}
.body{
    gap: 18px 0;
}
.spaceForm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    img{
        width: 25px;
    }
}
input{
    width: 70vw;
    max-width: 450px;
    height: 2rem;
    border: none;
    border-bottom: 1px solid gray;
    &:focus{
        outline: none;
    }
}
.invalid{
    font-size: small;
    color: red;
    margin-top: -10px;
    margin-left: 35px;
    align-self: first baseline;
}
button{
    width: 100%;
    height: 60px;
    font-size: larger;
    padding: 10px;
    align-self: center;
    background-color: variables.$buttonCar;
    color: variables.$fontBtnMessage;
    border-radius: variables.$border-radius-small;
    border: unset;
    cursor: pointer;
    &:disabled{
        background-color: variables.$buttonSaveDisabled;
    }
}