@use "./../../../../assets/styles/variables.scss";

header{
    position: relative;
    height: 80px;
    background-color: variables.$mainColor;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 500ms ease-in-out;
    overflow: hidden;
}
header.large::before{
    position: absolute;
    content: "";
    background-image: url("./../../../../assets/images/background.jpg");
    background-position: center;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: -1;
    transition: 500ms;
}
h1{
    color: variables.$titleColor;
    font-size: xx-large;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}
.large{
    height: 300px;
    background-color: unset;
}
.fade-in{
    animation: fade-out 450ms ease-in;
    animation-direction: reverse;
}
.fade-out{
    animation: fade-out 150ms ease-in;
    animation-fill-mode: backwards;
}
@keyframes fade-out {
    100%{
        opacity: 0%;
    }
}