#productsContainer{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 15px 0;
}
app-product-card{
    width: 100%;
}
@media screen and (min-width:750px) {
    app-product-card{
        width: 700px;
    }
}