@use "./../../../../assets/styles/variables.scss";

#productContainer{
    height: 80px;
    display: flex;
    border-radius: 10px;
    background-color: variables.$productCardColor;
    overflow: hidden;
    font-size: small;
}
#imgProduct{
    height: 100%;
    flex: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    gap: 5px;
    img{
        height: 20px;
        margin-bottom: 5px;
        border-radius: 50px;
        background-color: #8ae058;
        &:first-child{
            margin-left: 5px;
        }
    }
}
#details{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 20px;
}
h4{
    font-weight: bold;
}
ul li{
    display: inline;
    font-size: x-small;
    &:not(:last-of-type)::after{
        content: ",";
        margin-left: -2px;
    }
}
#price{
    text-align: end;
    font-style: italic;
    font-weight: bold;
}