#categoriesContainer{
    margin: 20px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: space-between;
    gap: 15px 10px;
}
app-category-card{
    width: 100%;
    height: auto;
}