$mainColor: #b3adad;
$titleColor: #fff;
$activeItem: #fff30ade;
$disabledItem: #aa9595;
$productCardColor: #e7e7e7;
$backgroundNotes: #72a5e726;
$buttonCar: #3483fabe;
$buttonSaveDisabled: #afbed4fd;
$colorFontButtonCar: #4189e626;
$btnMessage: #25D366;
$fontBtnMessage: #fff;