@use "./../../../../assets/styles/variables.scss";

.container{
    width: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0 5px;
    height: 25px;
    background-color: variables.$mainColor;
    border-radius: variables.$border-radius-x-small;
    overflow: hidden;
}

button{
    border-radius: variables.$border-radius-x-small;
    background-color: variables.$activeItem;
    border: unset;
}